.base-layout-sider,
.base-layout-header,
.base-layout-sider__header, .base-layout__content-layout {
  background: #fff;
}

.base-layout-sider__menu-header {
  height: 44px;
  background-color: var(--light-gray-color);
  color: var(--peacock-blue-color);
  font-size: 18px;
  font-weight: bold;
  padding-left: 24px;
  padding-right: 0;
}

.base-layout-header {
  padding-left: 24px;
}

.base-layout-sider__header {
  padding: 0px;
  border-right: 1px solid var(--light-gray-color);
}



.base-layout__content {
  padding: 24px;
  height: 280px;
  border-top: 1px solid var(--mercury-color);
}


#root {
  height: 100%;
}

.App {
  height: 100%;
}