.BaseLayout {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.BaseLayoutHeader {
  background-color: #fff;
  box-shadow: 0 2px 2px #ceced194;
  z-index: 1;
}

.BaseLayoutHeader .Breadcrumb {
  font-size: 18px;
}
/* section.ant-layout.BaseLayout {
  padding: 20px;
} */

.BaseLayoutContent {
  background-color: #fff;
  height: 100%;
}
.ant-layout-header {
  padding: 0;
  position: fixed;
  z-index: 1000;
}
.header-content{
  display: flex;
  justify-content: space-between;
}
.header-left-content {
  width: 50%;
}
.header-right-content {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .ant-layout-header {
    padding: 0 20px;
  }
}
.maincontent-layout {
  padding: 0 15px 15px;
  height: 100%;
  width: calc(100% - 200px);
  margin-left: 200px;
}
@media screen and (max-width: 426px) {
  .ant-layout-header {
    padding: 0 20px;
  }

  .BaseLayoutHeader .Breadcrumb {
    font-size: 13px;
  }

  .ant-dropdown-menu-item {
    font-size: 12px;
    padding: 10px;
  }
}

.logo {
  font-size: 21px;
  font-weight: bold;
  color: #0f6788;
  margin-left: 0.5rem;
}

/* new layout css */
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.header {
  background: #fff;
  border-bottom: 1px solid #dddddd;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  width: calc(100% - 200px);
  margin-left: 200px;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
.header.ant-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.header-logo svg {
  font-size: 18px;
}
.header .TopbarSearch {
  margin-top: 0.8rem;
  margin-left: 15px;
  min-width: 300px;
}

.sider-layout .ant-menu.ant-menu-dark,
.sider-layout .ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #0f6788;
  width: 200px;
}
.ant-layout-sider {
  position: fixed;
  z-index: 1000;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.sider-layout .ant-menu-dark .ant-menu-item {
  margin: 0 !important;
}

.sider-layout .ant-menu-dark .ant-menu-item > a {
  color: #333;
}

.CustomizedIcon {
  background: #a8a8a8;
  padding: 6px 14px;
  margin-inline-end: 1.4em;
}

.sider-layout
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
  .ant-menu-item-selected {
  background-color: inherit;
}

.sider-layout
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
  .ant-menu-item-selected
  > a {
  color: #1890ff;
}
.sider-layout li.ant-menu-item {
  padding-left: 15px !important;
}

.BaseLayoutContent h3 {
  color: #1890ff;
}

.sider-layout h3 {
  padding-inline-start: 15px;
  font-weight: 600;
  font-size: 16px;
  padding-block-end: 1rem;
  text-transform: uppercase;
}
div.ant-row.ant-row-start {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 15px 0;
}
