.rectangle-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f5f5f5;
  font-size: 12px;
  margin-bottom: 20px;
}
.rectangle-container h3 span {
  display: block;
  color: rgb(58, 56, 56);
}
.image-container {
  display: flex;
  justify-content: center;
}
.image-container img {
  width: 30%;
  margin-left: 10px;
}
.container {
  background-color: #f5f5f5;
  width: 50%;
  margin-left: 20px;
  display: flex;
  padding-top: 15px;
  flex-direction: column;
  justify-content: center;
}
.ant-table table {
  background-color: #f5f5f5;
}
.table-container {
  /* style={{ width: "80%", backgroundColor: "#F5F5F5" }} */
  width: 75%;
  background-color: #f5f5f5;
}
.table-container .table tr th {
  font-size: 13px;
}
.table-container .table tr td {
  font-size: 13px;
}
.bottom-table .table tr th {
  font-size: 13px;
}
