.ListItem {
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
  padding: 15px 0;
  height: 100%;
  text-align: left;
}


.ListItem .Checkbox {
  padding: 0 8px;
}

.ListItem:hover {
  background-color: #f5f5f5;
}

.ListItem .actionIcon {
  padding-top: 8px;
  margin-bottom: 5px;
  width: 32px;
  height: 32px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.ListItem .actionIcon {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
}

.ListItem .actionIcon:hover {
  color: #008efa;
  background-color: #f5f5f5;
}

@media screen and (max-width: 1000px) {
  .ListItem {
    height: auto;
  }
}
