
  
  .logo-menu__icon {
      font-size: 18px;
      color: var(--bombay-color);
      cursor: pointer;
  }
  
  .logo__title {
      font-size: 20px;
      font-weight: bold;
      color: var(--peacock-blue-color)
  }